@tailwind base;
@tailwind components;
@tailwind utilities;


.App{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(255,255,255);
  background: linear-gradient(335deg, rgba(255,255,255,1) 5%, rgba(160,10,172,1) 65%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar{
  background-color: white;
}

.menu-horizontal > li {
  margin-right: 1rem;
  transition: linear 0.2s;
}

.menu-horizontal > li:hover{
  scale: 1.03;
}



.modal-content {
  overflow-y: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.input{
  background-color: white;
}

.feedContainer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  flex-wrap: wrap;
  width: 80vw;
}

.card{
  margin-bottom: 2rem;
}